body {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: #f1f1f1;
    overflow: normal;
}

body:before {
    content: "";
    position: fixed;
    /* background: url(https://www.bing.com/ImageResolution.aspx?w=1920&h=1080); */
    background-image: url(../img/cache/BingWallpaper.jpg);
    background-size: 100%;
    z-index: -1; /* Keep the background behind the content */
    height: 100%; width: 100%; /* Using Glen Maddern's trick /via @mente */
    text-align: left;
    margin-left: -5px;

    /* don't forget to use the prefixes you need */
    transform: scale(1.1);
    transform-origin: top left;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.page-content {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.table-container {
    text-align: center;
    width: 90%;
    overflow: auto;

    margin: 45px auto 0 auto;
    padding: 5px 10px 5px 10px;

    color: #000;
    background-color: #f1f1f1;
}

.page-header {
	color: #f1f1f1;
    font-size: 75px;
    text-shadow: 3px 3px #393939
}

.page-content-box {
    margin: 45px auto 0 auto;
    padding: 25px 25px 25px 25px;

    color: #000;
    background-color: #f1f1f1;
    display: inline-block;
}

.page-content-popover {
    margin: 15px auto 0px auto; width: 300px;
}

.content-box-shadow {
    box-shadow: 7px 7px #393939;
}