body {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: #f1f1f1;
    overflow: normal;
    z-index: 0;
}

body:before {
    content: "";
    position: fixed;
    background-image: url(../img/cache/BingWallpaper.jpg);
    background-size: 100%;
    z-index: -1; /* Keep the background behind the content */
    height: 100%; width: 100%; /* Using Glen Maddern's trick /via @mente */
    text-align: left;
    margin-left: -5px;

    /* don't forget to use the prefixes you need */
    transform: scale(1.1);
    transform-origin: top left;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/** IDs **/

/* Navbar Style */
#navbar-style {
    position: fixed;
    z-index: 999;
}

/* Dashboard Table Content Box */
#dashboard-table-content-box {
    overflow: auto;
    margin: 25px 125px 0px 125px;
    /*transform: scale(0.85);*/
}

#dashboard-table-content-box table {
    background-color: #ffffff;
    color: #000;
}

#dashboard-table-content-box th {
    text-align: center;
}

#dashboard-table-content-box button {
    background-color: transparent;
    position: absolute;
    left: -1000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* Dashboard Table Style */
#dashboard-table-column-index {
    width: 85px;
}

#dashboard-table-column-table-name div {
    display: inline;
}

#dashboard-table-column-table-name a#fav-star {
    display: inline;
    top: .75px;
    float: left;
}

#dashboard-table-column-table-name a#move-up {
    text-align: left;
    display: inline;
    float: left;
    top: 8.5px;
}

#dashboard-table-column-table-name a#move-down {
    display: inline;
    float: left;
    top: 8.5px;
}

#dashboard-table-column-table-name a#table-name {
    display: inline;
    font-size: 20px;
    left: 25px;
    top: 8.5px;
}

#dashboard-table-column-table-name p#is-empty {
    display: inline;
    float: right;
    width: 50px;
}

#dashboard-table-column-date {
    top: -1.25px;
    width: 135px;
}

#dashboard-table-column-options {
    width: 125px;
}


/** Classes **/

.page-content {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 25px;
}

.table-container {
    text-align: center;
    width: 90%;
    overflow: auto;

    margin: 45px auto 0 auto;
    padding: 5px 10px 5px 10px;

    color: #000;
    background-color: #f1f1f1;
}

.page-header {
	color: #f1f1f1;
    font-size: 75px;
    text-shadow: 3px 3px #393939
}

.page-content-box {
    margin: 45px auto 0px auto;
    padding: 25px 25px 25px 25px;

    color: #000;
    background-color: #f1f1f1;
    display: inline-block;
}

.page-large-content-box {
    margin: 0px auto 0px auto;
    padding: 20px 25px 20px 25px;

    color: #000;
    background-color: #f1f1f1;
    display: inline-block;
}

.page-content-popover {
    margin: 15px auto -15px auto;
    width: 300px;
}

.content-box-shadow {
    box-shadow: 7px 7px #393939;
}

.delete-account-input {
    color: red;
}