body {
	background-color: #f1f1f1;
	text-align: center;
}

th {
	background-color: #f1f1f1;
	font-size: 15px;
}

li {
    display:table-cell;
    vertical-align: middle;

    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.nav-container nav ul {
    white-space:nowrap;
}

.nav-container nav ul li {
    min-width:55px;
}

.style_li {
    text-align: center;
}

.content {
	position: absolute;
	left: 0;
	top: 35%;
	margin: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: table;
	text-align: center;
}

.head {
	position: absolute;
    left: 0;
    top: 10%;
	margin: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: table;
	text-align: center;
}